//Colors Theme Red
$base_color: rgb(255, 0, 0);
$important_color: rgb(124, 0, 0);
$warning_color: rgb(255, 162, 162);

//Fonts Theme Red
$principal-font: Arial, Helvetica, sans-serif;
$secondary-font: 'Courier New', Courier, monospace;

//Border Radius Theme Red
$border-radius: 0px;

//Shadow Box
$box-shadow: -10px 12px 12px 0px rgba(0, 0, 0, 0.75) ;