//Colors Theme Red
$base_color: rgb(0, 68, 255);
$important_color: rgb(3, 0, 166);
$warning_color: rgb(10, 230, 230);

//Fonts Theme Red
$principal-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$secondary-font: 'Times New Roman', Times, serif;

//Border Radius Theme Red
$border-radius: 10px;

//Shadow Box
$box-shadow: 10px 12px 12px 0px rgba(0, 0, 0, 0.75);