@use "base" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: $bg-color;
    font-family: Jost, sans-serif;
    color:$text-primary-color;
}

header {
    position: sticky;
    top: 0;
    z-index:1000;
    background-color: $bg-color;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;

    @media (width < $breakpoint-mobile){
            justify-content: space-around;
    }

    .header-logo{
        display:flex;
        align-items: center;
        gap: 10px;

        img{
            width:100px;
            height: 100px;

            @media (width < $breakpoint-mobile){
                width:120px;
                height: 120px;

            }
        }

        .platform-title {
            @media (width < $breakpoint-tablet){
                display:none;
            }
        }
    }

    .header-buttons{
        display: flex;
        gap:15px;

        & div{
            @include button-style;
        }
        
    }
}

.section-title {
    padding-top: 32px;
    padding-left: 18px;
    font-size: 20px;
  
    #top-text::before {
      content: "5";
      font-weight: bold;
      font-size: 24px;

      @media (max-width: $breakpoint-tablet) {
        content: "4";
        font-size: 24px;
    }

    @media (max-width: $breakpoint-mobile) {
        content: "3";
        font-size: 24px;
    }

    }

}

.top{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 18px;

    .top-item{
        overflow: hidden;

        img {
            min-width: 225px;
            width: 100%;
        }

        &:hover {
            cursor: pointer;
            transition: all;
            transition-duration: 0.5s;
            transform: scale(1.1);
          }

        @media (max-width: $breakpoint-tablet) {
        @include hide-top-items(5, 5);
        flex:1;
        }   

        @media (max-width: $breakpoint-topThree) {
            &:nth-last-child(1) {
                flex: 0 0 auto; 
                margin: 5px;
            }
            &:nth-last-child(n+2) {
                flex: 0 0 calc(33.33% - 10px); 
                margin: 5px;
            }
        }

        @media (max-width: $breakpoint-topTwo){
        width: calc(50% - 10px);
        margin: 5px; 
            &:nth-last-child(1), 
            &:nth-last-child(n+2) { 
            flex: none; 
            }
        }

        @media (max-width: $breakpoint-mobile) {
        @include hide-top-items(4, 5);
        margin: 10px;
        width: 70%;
    }
    }

        @media (max-width: $breakpoint-topThree) {
        flex-wrap:wrap-reverse;
      }

        @media (max-width: $breakpoint-mobile) {
        flex-direction: column-reverse;
        align-items: center; 
      }
}

.first, .second {
    @include section-styles;
    & .item{
    @include item-styles;
    }
}

footer{
    padding:18px;
    text-align: right;
    font-size: small;
    color: $text-primary-color;
}